*{
    box-sizing: border-box;
    
}
    
    
@font-face{
    font-family:'shabnam' ;
    src: url(font/Shabnam-Medium-WOL.ttf);
  }
  
  @font-face{
    font-family:'bold' ;
    src: url(font/Vazir-Bold.ttf);
  }
  
  
  @font-face{
    font-family:'vazir' ;
    src: url(font/Vazir-Medium.ttf);
  }
  
  
  @font-face{
    font-family:'shabnamttf' ;
    src: url(font/Shabnam-Thin-WOL.ttf);
  }
    
    body {

      font-family: 'Vazir', sans-serif;
      direction: rtl;
      margin: 0;
      padding: 0;
      background: #f9f9f9;
      color: #333;      
    }

 /*header*/
    .der {
      background: white;
      padding-bottom: 40px;
    }
    
    .top-banner {
      background: orange;
      color: white;
      text-align: center;
      padding: 8px;
      margin:20px;
      border-radius:7px;
      font-weight: bold;
      font-family: 'shabnam';
      font-size: 18px;
    }
    
    .img-logo{
      width: 43px;
      margin-right: 22px;
      height: 43px;
    
    }
    
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:20px;
      font-size: 18px;
      font-family:'Vazir' ;
      border-bottom: 1px solid #ddd;
    
    }
    
    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
      padding: 0;
      margin-left: 51%;
      font-size: 18px;
      font-family: 'vazir';
    }
    
    .home{
      background:#f2f0f0;
        width: 60px;
        height: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius:5px;
        padding:4px;
    }
    .nav-links li {
      cursor: pointer;
    }
    
    .login button {
      
        margin-right: 12px;
        width: 82px;
        height: 46px}
    
    .login{
      margin-left:53px ;
    }
    
    
    .sing-btn{
      width: 35px;
      height: 30px;
      font-family: 'Vazir';
      color: black;
      background-color: #F2F2F7;
      border-radius: 5px;
      border:1px solid #F2F2F7;
      cursor: pointer;
      box-shadow: 0px 0px 1px darkgray;
    
    }
    
    .login-btn {
      background: orange;
      color: white;
      border: none;
      border-radius: 5px;
      font-family: 'Vazir';
      cursor: pointer;
    
    }

  /*body*/

  .baner{
    display: flex;
    margin-top: 60px;
    border-bottom: 1px solid #ddd;

  }

  .baner h3{
    font-family: 'shabnam';
  font-size: 30px;
  margin: 55px 72px;

  }

  .baner p{
    font-family: 'shabnamttf';
    font-size: 18px;
    margin-right: 11%;
    padding:14px 44px;

  }

  .Container-plan{
    background-color: #FFFFFF;
    width: 80%;
    padding: 60px 0px;
    margin-top: 35px;
    margin-right: 125px;
    border: 2px solid #f2f2fc;
    border-radius: 8px;
    box-shadow: 0px 0px 1px #f2f2fc;
  }


  .plan-toggle {
    display: flex;
    justify-content: center;
    margin-top: 40px;
   
  }
  
  .plan-toggle button {
    background: #eee;
    border: none;
    padding: 8px 30px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    font-family: 'vazir';
    font-size: 16px;
  }
  
  .plan-toggle .active {
    background: orange;
    color: white;
    font-family: 'vazir';
    font-size: 16px;
  }
  
  .plans {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 111%;
  margin-right: -70px;
   
  }
  
  .plan {
    background: #f8f6f68a;
    border: 1px solid #ddd;
    padding: 20px;
    width: 35%;
    border-radius: 12px;
    text-align: center;
  }
  
  .plan h3 {
    font-size: 24px;
  margin-bottom: 10px;
  border: 1px solid #FFEACC;
  background: #FFF9F0;
  border-radius: 7px;
  }

  .plans-nav{
    background: #FFFFFF;
    margin: 4px;
    border:2px solid #F7F2F2D4;
    border-radius: 8px;
  }
  
  .price {
    font-size: 46px;
    font-family: 'vazir';
    font-weight: bold;
  }

  .price span{
    color: black;
  opacity: 40%;
  font-size: 18px;
  }
  
  .features {
    list-style: none;
    padding: 0;
    text-align: right;
    margin: 20px 0;
  }

  .features li{
    border: 1px solid #ddd;
    margin: 21px 41px;
    padding: 7px 10px;
    border-radius: 7px;
    font-family: 'shabnamttf';
    font-size: 17px;
  }
  .features a{
    margin: 10px;
  }
  
  .features img {
   width: 22px;
  margin-bottom: -6px;
    }
  
  .start-btn {
    background: orange;
    color: white;
    border: none;
    padding: 14px 43%;
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'shabnam';
  }
  
  .pro {
    border: 2px solid orange;
  }
  
  .faq-section {
    background: #fff;
    padding: 40px;
    margin-top: 40px;
  }
  
  .faq-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  
  .faq-text {
    max-width: 300px;
    margin-right: 14%;
  }
  
  .faq-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: 'shabnam';
  }

  .faq-text p{
    font-family: 'vazir';
  font-size: 17px;
  }
  
  .faq-btn {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    font-family: 'shabnam';
  font-size: 14px;

  }
  
  .faq-items {
    flex: 2;
    min-width: 300px;
  }
  
  .faq-item {
    background: #fafafa;
    border: 1px solid #eee;
    padding: 30px 31px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 73%;
    margin-right: 6%;
  }
  
  .question-img{
    margin-bottom: 20px;
    padding: 16px 30px;
    width: 16%;

    }

    .question p{
      margin-top: 30px;
      padding: 0px 19px;
    }

  .faq-item .question {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    font-family: 'shabnam';
    font-size: 18px;
  }

  
  .answer{
    margin-top: 40px;
    font-family: 'vazir';
    font-size: 15px;
    color: #555;

  }

  .answer-img{
    margin-right: 85%;
  padding: 16px 30px;
  width: 18%;
}
    
.answer-btn{
  border: 1px solid #F1F1F3;
  border-radius: 10px;
  margin-top: 28px;
  padding: 4px;
  width: 92%;
  margin-right: 3%;
  cursor: pointer;
background: #F2F2F2;
}

.answer-btn p{
  margin-top: -54px;
  padding-right: 19px;
  font-family: 'shabnam';
  font-size: 17px;
}
  

  .answer p{
    border: 1px solid #eee;
  padding: 15px 20px;
  border-radius: 8px;
  }

  .faq-item .answer {
    display: none;
    color: #555;
  }
  
  .faq-item .answer {
    display: block;
  }




.faq-itm ,
.faq-itm1 ,
.faq-itm2 ,
.faq-itm3{
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-family: 'shabnam';
  font-size: 14px;
  width: 44%;
  border: 1px solid #eee;
  margin-right: 42%;
  padding: 10px 11px;
  border-radius: 8px;
margin-bottom: -15px;
}


  .faq-p{
    cursor: pointer;
    margin-top: 9px;
    padding: 10px 23px;
  }

  .faq-itm img{
    width: 35px;
    height: 35px;
    margin-right: 41%;
    margin-top: 9px;
    cursor: pointer;

  }


  .faq-p1{
    cursor: pointer;
    margin-top: 9px;
    padding:11px 8px;
  }

  .faq-itm1 img{
    width: 35px;
    height: 35px;
    margin-right: 16%;
    margin-top: 9px;
    cursor: pointer;

  }

  .faq-itm2 img{
    width: 35px;
    height: 35px;
    margin-right: 50%;
    margin-top: 9px;
    cursor: pointer;

  }
  
  .faq-itm3 img{
    width: 35px;
    height: 35px;
    margin-right: 25%;
    margin-top: 9px;
    cursor: pointer;

  }
  
/*foter*/
.footer {
  background-color: #f8f8f8;
  padding:24px 19px 17px;
  font-size: 14px;
  direction: rtl;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}


.img-logo1 {
  width: 32px;
  margin-right: -4px;
  height: 32px;

}

.footer-img{
  width: 17px;
  height: 15px;
}

.footer-contact p{
  font-family: 'shabnam';
  font-size: 14px;
}

.footer-link{
  margin-top: -18px;
}

.footer-link h4{
  margin-right: 90%;
  font-weight: bold;
  font-family: 'vazir';
  font-size: 16px;
  
}

.footer-link a{
  text-decoration: none;
  color: #333;
  margin-right: 530px;
}


.footer-links h4,
.footer-social h4 {
  margin-top: 4px;
  font-weight: bold;
  font-family: 'vazir';
  font-size: 16px;
}

.footer-links ul,
.footer-link ul {
  list-style: none;
  padding: 0px;
  font-family: 'shabnamttf';
  font-size: 14px;

}


.footer-links ul li a{
  margin-bottom: 6px;
  text-decoration: none;
  color: #333;
}



.footer-social a {
  margin-left: 10px;
}

.footer-social img {
  width: 35px;
  height: 35px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  color: #666;
}