*{
  box-sizing: border-box;
  
}
  
  
@font-face{
  font-family:'shabnam' ;
  src: url(font/Shabnam-Medium-WOL.ttf);
}

@font-face{
  font-family:'bold' ;
  src: url(font/Vazir-Bold.ttf);
}


@font-face{
  font-family:'vazir' ;
  src: url(font/Vazir-Medium.ttf);
}


@font-face{
  font-family:'shabnamttf' ;
  src: url(font/Shabnam-Thin-WOL.ttf);
}
  
  body {
    
    margin: 20px;
    font-family: sans-serif;
    background: #f7f7f7;
    direction: rtl;
    
  }
    
  
.header {
  background: white;
  padding-bottom: 40px;
}

.top-banner {
  background: orange;
  color: white;
  text-align: center;
  padding: 8px;
  margin:20px;
  border-radius:7px;
  font-weight: bold;
  font-family: 'shabnam';
  font-size: 18px;
}

.img-logo{
  width: 43px;
  margin-right: 22px;
  height: 43px;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:20px;
  font-size: 18px;
  font-family:'Vazir' ;
  border-bottom: 1px solid #ddd;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-left: 51%;
  font-size: 18px;
  font-family: 'vazir';
}

.home{
  background:#f2f0f0;
    width: 60px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:5px;
    padding:4px;
}
.nav-links li {
  cursor: pointer;
}

.login button {
  
    margin-right: 12px;
    width: 82px;
    height: 46px}

.login{
  margin-left:53px ;
}


.sing-btn{
  width: 35px;
  height: 30px;
  font-family: 'Vazir';
  color: black;
  background-color: #F2F2F7;
  border-radius: 5px;
  border:1px solid #F2F2F7;
  cursor: pointer;
  box-shadow: 0px 0px 1px darkgray;

}

.login-btn {
  background: orange;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Vazir';
  cursor: pointer;

}

  .main-section {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .testimonials {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin-top: 11%;
    height: 0%;
  }

  .signup-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
  
  .testimonials h2{
    margin-right: 2%;
    font-family: 'shabnam';
  font-size: 25px;
  }

  .testimonial-card p{
    font-family: 'shabnamttf';
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    margin-top: -16px;
  }
  
  .testimonial-card {
    background: #f2f2f2;
  padding: 35px 27px;
  border-radius: 10px;
  margin-right: 2%;
  width: 92%;
  }
  
  .author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .author span{
    font-family: 'shabnam';
    font-weight:semibold;
  }
  .author span{
margin-bottom: -44px;
  }
  
  .author img {
    width: 45px;
    height: 45px;
    margin-bottom: -44px;

  }

  .author-btn{
    margin-right: 78%;
   padding: 12px 9px;
   font-family: 'vazir';
   font-size: 12px;
   cursor: pointer;
   box-shadow: 0px 0px 1px darkgray;

  }

  .signup-form input{
    font-family: 'shabnamttf';
    font-size: 14px;
  }
  
  .signup-form input[type="text"]
  {
    width: 100%;
    padding: 20px 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .signup-form input[type="email"]{
    width: 100%;
    padding: 20px 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .signup-form input[type="password"] {
    width: 100%;
    padding: 20px 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  
  .signup-form h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9%;
  }

  .signup-form p{
    font-family: 'shabnamttf';
    font-size: 13px;
    margin-right: 145px;

  }

  .signup-form label{
   font-family: 'shabnam';
   font-size: 15px;
   margin: 11px;
  }

  .form-checkbox {
    display: block;
    margin: 10px 0;
    font-size: 14px;
  }

  .form-checkbox a,input{
    margin-bottom: 13px;
  }
  
  
  .signup-btn {
    background: orange;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'vazir';
  }
  
  .google-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 'vazir';
    font-size: 16px;
  }
  
  .divider {
    text-align: center;
    margin: 10px 0px;
    color: #999;
    font-size: 17px;
    font-family: 'shabnamttf';
  }

  
  .login-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'shabnamttf';
  }

  .login-link img{
    width: 10px;
  }

  .password-img{
    position: absolute;
  right: 88%;
  margin-top: 34px;
  width: 18px;
  height: 12px;
  }

  .author-img1{
    width: 40px;
  height: 40px;
  margin-right: 67%;
  margin-top: 37px;
  }

  .author-img{
    width: 40px;
  height: 40px;
  margin-right: 3%;
  margin-top: 37px;
  }
  
/*foter*/
.footer {
  background-color: #f8f8f8;
  padding:24px 19px 17px;
  font-size: 14px;
  direction: rtl;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}


.img-logo1 {
  width: 32px;
  margin-right: -4px;
  height: 32px;

}

.footer-img{
  width: 17px;
  height: 15px;
}

.footer-contact p{
  font-family: 'shabnam';
  font-size: 14px;
}

.footer-link{
  margin-top: -18px;
}

.footer-link h4{
  margin-right: 90%;
  font-weight: bold;
  font-family: 'vazir';
  font-size: 16px;
  
}

.footer-link a{
  text-decoration: none;
  color: #333;
  margin-right: 530px;
}


.footer-links h4,
.footer-social h4 {
  margin-top: 4px;
  font-weight: bold;
  font-family: 'vazir';
  font-size: 16px;
}

.footer-links ul,
.footer-link ul {
  list-style: none;
  padding: 0px;
  font-family: 'shabnamttf';
  font-size: 14px;

}


.footer-links ul li a{
  margin-bottom: 6px;
  text-decoration: none;
  color: #333;
}



.footer-social a {
  margin-left: 10px;
}

.footer-social img {
  width: 35px;
  height: 35px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  color: #666;
}